<div class="checkout-container">
    <div class="title">
        <span>Checkout</span>
    </div>
    <div class="main">
        <form action="">
            <fieldset><br><br>
                <label for="">Your name</label>
                <input type="text" name="" id="" placeholder="Input your Name"><br>
                <label for="">Your address</label>
                <input type="text" name="" id="" placeholder="Input your Address"><br>
                <label for="">Your phone</label>
                <input type="number" name="" id="" placeholder="Input your Phone"><br>
                <div>
                    <label for="">Payment: </label>
                    <select name="" id="">
                        <option value="">COD</option>
                        <option value="">Bank</option>
                    </select>
                </div><br><br>
                <button>Checkout</button>
            </fieldset>
        </form>
    </div>
</div>