<div class="title">
    <span>Contact Us</span>
</div>
<div class="description">
    <span>Connecting you to exceptional customer service - just one click away!</span>
</div>
<div class="content-container">
    <div class="content">
        <div class="address item">
            <object data="./svg/address.svg" type="image/svg+xml"></object>
            <span class="title">ADDRESS</span>
            <span class="detail">VietNam</span>
        </div>
        <div class="phone item">
            <object data="./svg/phone.svg" type="image/svg+xml"></object>
            <span class="title">PHONE</span>
            <span class="detail">0909990099</span>
        </div>
        <div class="mail item">
            <object data="./svg/mail.svg" type="image/svg+xml"></object>
            <span class="title">MAIL</span>
            <span class="detail">support@faj.com</span>
        </div>
        <span></span>
    </div>
</div>