<div class="searchbar">
    <input type="text" name="search" id="search">
    <i class="fa-solid fa-magnifying-glass"></i>
</div>
<div class="products-container">
    <div class="category-container">
        <div class="category-item" id="category-fruits">
            <div class="category-title"><a href="/fruits" id="category-fruits">Fruits</a></div>
            <div class="list-item">
                
            </div>
        </div>
    </div>
</div>