<div class="index-container">
    <div class="category-container">
        <div class="category-item" style="margin-top: 5vh" id="category-sales">
            <div class="category-title"><a href="/sales">Sales</a></div>
            <div class="list-item"></div>
        </div>
        <div class="category-item" id="category-topseller">
            <div class="category-title"><a href="/topseller">Top seller</a></div>
            <div class="list-item"></div>
        </div>
        <div class="category-item" id="category-juices">
            <div class="category-title"><a href="/juices" id="category-juices">Juices</a></div>
            <div class="list-item"></div>
        </div>
        <div class="category-item" style="margin-bottom: 50vh" id="category-fruits">
            <div class="category-title"><a href="/fruits">Fruits</a></div>
            <div class="list-item"></div>
        </div>
    </div>
</div>