<div class="searchbar">
    <input type="text" name="search" id="search">
    <i class="fa-solid fa-magnifying-glass"></i>
</div>
<div class="products-container">
    <div class="category-container">
        <div class="category-item" id="category-juices">
            <div class="category-title"><a href="/juices" id="category-juices">Juices</a></div>
            <div class="list-item"></div>
        </div>
    </div>
</div>