<div class="container"> 
    <a href="/">FAJ - Fruit And Juice</a>
    <div class="item">
        <span class="title">Register</span>
        <input type="text" class="text-input" placeholder="Username">
        <input type="password" class="text-input" placeholder="Password">
        <input type="password" class="text-input" placeholder="Re-type Password">
        <input type="button" value="Register" id="btn"><br>
        <a href="/login">Already have an account ? Click here</a>
    </div>
</div>