<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }
        a {
            color: black;
            text-decoration: none;
            color: white;
        }
        h5 {
            border-radius: 30px;
            background-color: rgb(69, 69, 200);
            padding: 15px 50px;
        }
        h5:hover {
            opacity: 50%;
        }
        h1 {
            margin: 0;
        }
    </style>
</head>

<body>
    <h1>404 - PAGE NOT FOUND</h1>
    <h6>Sorry, the page you are looking for does not exist!</h6>
    <a href="/"><h5>GO TO HOMEPAGE</h5></a>
</body>

</html>