<div class="container">
    <div class="form">
        <form>
            <fieldset>
                <legend>Remove Products</legend><br><br>
                <label for="id">Id products: *</label><br>
                <input type="text" placeholder="id" name="id" id="id"><br>
                <input type="submit" value="Submit">
                <span class="status">
                    <span class="success" style="color: green;"></span>
                </span>
            </fieldset>
        </form>
    </div>
</div>